[Unit]
Description=Peiper .NET Web API App Running on Raspbian Stretch

[Service]
WorkingDirectory=/usr/git/peiper-api/publish
ExecStart=/usr/git/peiper-api/publish/PeiperApi
Restart=always
RestartSec=10  # Restart service after 10 seconds if dotnet service crashes
SyslogIdentifier=dotnet-example
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
